@{
    ViewBag.Title = "You should enter some nice title to the pages rather than the INDEX...!!!!";
    Layout = "~/Views/Sheared/_LayoutPage1.cshtml";
}
<!--
Start About Section
==================================== -->
<section id="about" class="bg-one">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2>About <span class="color">Us</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->
            <!-- About item -->
            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">
                    <div class="icon-box">
                        <i class="fa fa-lightbulb-o fa-4x"></i>
                    </div>
                    <!-- Express About Yourself -->
                    <div class="about-content text-center">
                        <h3 class="ddd">We're Creative</h3>
                        <p>We create a new web and android application which is not still exist.It will be easy to use and will be easy to mange.</p>
                    </div>
                </div>
            </div>
            <!-- End About item -->
            <!-- About item -->
            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
                <div class="wrap-about">
                    <div class="icon-box">
                        <i class="fa fa-users fa-4x"></i>
                    </div>
                    <!-- Express About Yourself -->
                    <div class="about-content text-center">
                        <h3>We're Professional</h3>
                        <p> we are student of BS Computer Science Developed this App as a final year Project</p>

                    </div>
                </div>
            </div>
            <!-- End About item -->
            <!-- About item -->
            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
                <div class="wrap-about kill-margin-bottom">
                    <div class="icon-box">
                        <i class="fa fa-users fa-4x"></i>
                    </div>
                    <!-- Express About Yourself -->
                    <div class="about-content text-center">
                        <h3>We're Professional</h3>
                        <p> we are student of BS Computer Science Developed this App as a final year Project</p>
                    </div>
                </div>
            </div>
            <!-- End About item -->
        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->
<!--
Start Main Features
==================================== -->
<section id="main-features">
    <div class="container">
        <div class="row">

            <!-- features item -->
            <div id="features">
                <div class="item">

                    <div class="features-item">

                        <!-- features media -->
                        <div class="col-md-6 feature-media media-wrapper wow fadeInUp" data-wow-duration="500ms">
                            <iframe src="http://player.vimeo.com/video/108018156" allowfullscreen></iframe>
                        </div>
                        <!-- /features media -->
                        <!-- features content -->
                        <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h3>Main Features of Phone Mode Flip Flop</h3>
                            <p>Phone Mode Flip-Flop is an web and andriod Application.in which you can enjoye the features</p>
                            <p>Profile Changer ,Auto Call Receving ,Memos , E-Wallet 	and many More</p>
                        </div>
                        <!-- /features content -->

                    </div>
                </div>

                <div class="item">
                    <div class="features-item">

                        <!-- features media -->
                        <div class="col-md-6 feature-media wow fadeInUp" data-wow-duration="500ms">
                            
                            <img src="~/Content/img/team/client-2.jpg" alt="3D Beach Art | Meghna" class="img-responsive" />
                        </div>
                        <!-- /features media -->
                        <!-- features content -->
                        <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                            
                            <h3>Main Features of Phone Mode Flip Flop</h3>
                            <p>Phone Mode Flip-Flop is an web and andriod Application.in which you can enjoye the features</p>
                            <p>Profile Changer ,Auto Call Receving ,		Memos   ,  E-Wallet 	and many More</p>

                        </div>
                        <!-- /features content -->

                    </div>
                </div>
            </div>
            <!-- /features item -->

        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->
<!--
Start Counter Section
==================================== -->

<section id="counter" class="parallax-section">
    <div class="container">
        <div class="row">

            <!-- first count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
                <div class="counters-item">
                    <div>
                        <span data-speed="3000" data-to="320">320</span>
                    </div>
                    <i class="fa fa-users fa-3x"></i>
                    <h3>Happy Clients</h3>
                </div>
            </div>
            <!-- end first count item -->
            <!-- second count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="counters-item">
                    <div>
                        <span data-speed="3000" data-to="565">565</span>
                    </div>
                    <i class="fa fa-check-square fa-3x"></i>
                    <h3>Projects completed</h3>
                </div>
            </div>
            <!-- end second count item -->
            <!-- third count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="counters-item">
                    <div>
                        <span data-speed="3000" data-to="95">95</span>
                        <span>%</span>
                    </div>
                    <i class="fa fa-thumbs-up fa-3x"></i>
                    <h3>Positive feedback</h3>

                </div>
            </div>
            <!-- end third count item -->
            <!-- fourth count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="counters-item kill-margin-bottom">
                    <div>
                        <span data-speed="3000" data-to="2500">2500</span>
                    </div>
                    <i class="fa fa-coffee fa-3x"></i>
                    <h3>Cups of Coffee</h3>
                </div>
            </div>
            <!-- end fourth count item -->

        </div> 		<!-- end row -->
    </div>   	<!-- end container -->
</section>   <!-- end section -->
<!-- Start Services Section
==================================== -->

<section id="services" class="bg-one">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                <h2>Our <span class="color">Services</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->
            <!-- Single Service Item -->
            <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="fa fa-desktop fa-5x"></i>
                    </div>
                    <h3>BOOTSTRAP</h3>
                    <p>Booststrap make app responsive for all screen </p>
                </div>
            </article>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="fa fa-desktop fa-5x"></i>
                    </div>
                    <h3>Responsive Design</h3>
                    <p>This App responsive for all screens.</p>
                </div>
            </article>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="fa fa-play fa-5x"></i>
                    </div>
                    <h3>Media &amp; Advertisement</h3>
                    <p>for advertisment</p>
                </div>
            </article>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="fa fa-eye fa-5x"></i>
                    </div>
                    <h3>Graphic Design</h3>
                    <p>we have designed logos using Graphic Design</p>
                </div>
            </article>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="fa fa-android fa-5x"></i>
                    </div>
                    <h3>Apps Development</h3>
                    <p>Phone mode flip-Flop is an andriod and Web App</p></div>
            </article>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="service-block text-center kill-margin-bottom">
                    <div class="service-icon text-center">
                        <i class="fa fa-link fa-5x"></i>
                    </div>
                    <h3>Networking</h3>
                    <p>Online data saving through networking</p>
                </div>
            </article>
            <!-- End Single Service Item -->

        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->
<!-- Start Portfolio Section
=========================================== -->

<section id="showcase">
    <div class="container">
        <div class="row wow fadeInDown" data-wow-duration="500ms">
            <div class="col-lg-12">

                <!-- section title -->
                <div class="title text-center">
                    <h2>Our <span class="color">Works</span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
                <!-- portfolio item filtering -->
                <div class="portfolio-filter clearfix">
                    <ul class="text-center">
                        <li><a href="javascript:void(0)" class="filter" data-filter="all">All</a></li>
                        <li><a href="javascript:void(0)" class="filter" data-filter=".app">Mobile App</a></li>
                        <li><a href="javascript:void(0)" class="filter" data-filter=".web">Web Design</a></li>
                    </ul>
                </div>
                <!-- /portfolio item filtering -->

            </div> <!-- /end col-lg-12 -->
        </div> <!-- end row -->
    </div>	<!-- end container -->
    <!-- portfolio items -->
    <div class="portfolio-item-wrapper wow fadeInUp" data-wow-duration="500ms">
        <ul id="og-grid" class="og-grid">

            <!-- single portfolio item -->
            <li class="mix app">
                <a href="/My/ProfileChangerr" data-largesrc="~/Content/img/portfolio/portx1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">

                    <img src=" ~/Content/img/portfolio/me.jpg" alt="ProFile Changer" />
                   
                    <div class="hover-mask">
                        <h3>Profile Changer</h3>
                        <span>
                            <i class="fa fa-plus fa-2x"></i>
                        </span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->
            <!-- single portfolio item -->
            <li class="mix web">
                <a href="/Memo/Memos" data-largesrc="~/Content/img/portfolio/portx1.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="~/Content/img/portfolio/m.jpg" alt="Memo's'" />
                   
                    <div class="hover-mask">
                        <h3>Memo's</h3>
                        <span>
                            <i class="fa fa-plus fa-2x"></i>
                        </span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->
           
           
            <!-- single portfolio item -->
            <li class="mix app">
                <a href="/My/ProfileChanger" data-largesrc="~/Content/img/portfolio/portx1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src=" ~/Content/img/portfolio/me.jpg" alt="ProFile Changer" />

                    <div class="hover-mask">
                        <h3>Profile Changer</h3>
                        <span>
                            <i class="fa fa-plus fa-2x"></i>
                        </span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->
            <!-- single portfolio item -->
            <li class="mix app">
                <a href="/My/AutoCall" data-largesrc="~/Content/img/portfolio/portx1.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="~/Content/img/portfolio/a.jpg" alt="Auto Call Reaciving" />
                    <div class="hover-mask">
                        <h3>AutoCall Receving</h3>
                        <span>
                            <i class="fa fa-plus fa-2x"></i>
                        </span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->
            <!-- single portfolio item -->
            <li class="mix web">
                <a href="/Ewallet/Ewallet" data-largesrc="~/Content/img/portfolio/portx1.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="~/Content/img/portfolio/e.jpg" alt="E-Wallet" />
                   
                    <div class="hover-mask">
                        <h3>E-Wallet</h3>
                        <span>
                            <i class="fa fa-plus fa-2x"></i>
                        </span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->
            <!-- single portfolio item -->
            <li class="mix app">
                <a href="/My/PatternLock" data-largesrc="~/Content/img/portfolio/portx1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="~/Content/img/portfolio/pl.jpg" alt="Meghna" />
                    
                    <div class="hover-mask">
                        <h3>Pattern Lock</h3>
                        <span>
                            <i class="fa fa-plus fa-2x"></i>
                        </span>
                    </div>
                </a>
            </li>
            <!-- /single portfolio item -->

        </ul> <!-- end og grid -->
    </div>  <!-- portfolio items wrapper -->

</section>   <!-- End section -->
<section id="team-skills" class="parallax-section">
    <div class="container">
        <div class="row wow fadeInDown" data-wow-duration="500ms">

            <!-- section title -->
            <div class="title text-center">
                <h2>Our <span class="color">Skills</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->
            <!-- skill set -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms">
                <div class="skill-chart text-center">
                    <span class="chart" data-percent="80">
                        <span class="percent"></span>
                    </span>
                    <h3><i class="fa fa-Bootstrap"></i> Bootstrap</h3>

                    <p>we use  bootstrap  to make application responsive fast and simple.</p>
                </div>
            </div>
            <!-- end skill set -->
            <!-- skill set -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="skill-chart text-center">
                    <span class="chart" data-percent="90">
                        <span class="percent">86</span>
                    </span>
                    <h3><i class="fa fa-html5"></i> HTML </h3>

                    <p>we use  bootstrap  to make application responsive fast and simple.</p>
                </div>
            </div>
            <!-- end skill set -->
            <!-- skill set -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="skill-chart text-center">
                    <span class="chart" data-percent="85">
                        <span class="percent"></span>
                    </span>
                    <h3><i class="fa fa-android"></i> Android</h3>

                    <p>we use  bootstrap  to make application responsive fast and simple.</p>
                </div>
            </div>
            <!-- end skill set -->
            <!-- skill set -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="skill-chart text-center">
                    <span class="chart" data-percent="90">
                        <span class="percent"></span>
                    </span>
                    <h3><i class="fa fa-android"></i>.Net</h3>

                    <p>we use  bootstrap  to make application responsive fast and simple.</p>
                </div>
            </div>
            <!-- end skill set -->

        </div>  		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->
